<div class="content" >
  <div class="columns">
    <div class="column is-6 is-offset-3" id="dark-card" >
      <%= form_with model: @user, local: true do |form|%>
        <div class="field">
            <%= form.label :first_name, class: "label", id:"dark-label"%>
          <div class="control">
            <%= form.text_field :first_name, class: "input", placeholder: "Add your first name" %>
          </div>
        </div>

        <div class="field">
            <%= form.label :last_name, class: "label", id:"dark-label"%>
          <div class="control">
            <%= form.text_field :last_name, class: "input", placeholder: "Add your name" %>
          </div>
        </div>

        <div class="field">
            <%= form.label :email, class: "label" , id:"dark-label" %>
          <div class="control">
            <%= form.email_field :email, class: "input", placeholder: "Add your email" %>
          </div>
        </div>

        <div class="field">
            <%= form.label :password, class: "label" , id:"dark-label" %>
          <div class="control">
            <%= form.password_field :password, class: "input", placeholder: "Add your password" %>
          </div>
        </div>

        <div class="field">
            <%= form.label :password_confirmation, class: "label" , id:"dark-label" %>
          <div class="control">
            <%= form.password_field :password_confirmation, class: "input", placeholder: "Confirm your password" %>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <%= form.submit class: "button is-primary" %>
          </div>
          <div class="control">
            <%= link_to "Cancel", class: "button is-light" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>